function Main.soma 0
push argument 0
push argument 1
add
return
function Main.main 1
push constant 0
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10
pop local 0
label IF_FALSE0
push constant 0
return
